<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/" method="get">
      <label for="num1">Meeting 1 duration (mins)</label>
      <input type="number" name="num1">
      <br/>
      <label for="num2">Meeting 2 duration (mins)</label>
      <input type="number" name="num2">
      <button type="submit">Calculate!</button>
    </form>

    <% if(result !== undefined) { %>
      <b>Total meeting time</b><%= result %>
    <% } %>

  </body>
</html>
