<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <a href="/">Total meeting duration<br></a>
    <a href="/subtract">Change meeting duration <br></a>
    <a href="/multiply">Calculate recurring meeting <br></a>
    <a href="/divide">Calculate number of meetings required <br></a>

    <% if(error) { %>
      <%= error %>
    <% } %>

    <form action="/multiply" method="get">
      <label for="number1">Meeting duration</label>
      <input type="number" name="number1">
      <br/>
      <label for="number2">Number of meetings</label>
      <input type="number" name="number2">
      <button type="submit">Calculate total meeting time</button>
    </form>

    <% if(!isNaN(result)) { %>
      <b>Total meeting time for all meetings: </b><%= result %>
    <% } %>
  </body>
</html>
