<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <a href="/">Total meeting duration<br></a>
    <a href="/subtract">Change meeting duration <br></a>
    <a href="/multiply">Calculate recurring meeting <br></a>
    <a href="/divide">Calculate number of meetings required <br></a>

    <% if(error) { %>
      <%= error %>
    <% } %>

    <form action="/subtract" method="get">
      <label for="number1">Original meeting duration (min)</label>
      <input type="number" name="number1">
      <br/>
      <label for="number2">Reduce meeting time by (mins)</label>
      <input type="number" name="number2">
      <button type="submit">Calculate</button>
    </form>

    <% if(!isNaN(result)) { %>
      <b>New meeting duration: </b><%= result %>
    <% } %>


  </body>
</html>
